/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
:focus {outline: 0;}                     
body {color: #2f332a;font: 15px/21px Arial, Helvetica, simsun, sans-serif;}
p {padding-bottom: 20px;}          
ol, ul {list-style: none;}  
ul.list {list-style-type: upper-latin;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
strong {font-weight: bold;}    
em {font-style: italic;}
hr {display: none;}
.font1 {color: white;background-color: #528036;}
.right {float: right;}
.left {float: left;}
.hide {display: none;}  
.round {-moz-border-radius: 15px;-webkit-border-radius: 15px;-khtml-border-radius: 15px;border-radius: 15px;}
.clear {clear: both;}   
.clearfix {display: block;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
/* Link Styles */
a {color: #528036;}
a:link, a:visited {text-decoration: none;}
a:hover {color: #000;text-decoration: none;}
a:active {text-decoration: none;}

body            
  background #EAEFF3  
html, body, .container, .tbj-cost-contents,.content, .ztree, .ztree-container                                              
  height 100%  
  overflow hidden  
.ztree-container .ztree 
  padding-left 0                                     
.container                                                 
  width 100%                                                            
  margin 0 auto                                                              
  overflow hidden 
.menu-hidden 
  .btn-navbar
    left 10px
  #menu, .img-logo
    display none
  .ztree-content
    margin-left 0
.tbj-cost-contents
  
.tbj-cost-contents .content                                                                
  overflow hidden
.tbj-nav  
  height 60px                  
  background #3A3897
  overflow hidden
.img-logo                                
  float left                                                   
  width 182px            
  height 26px
  margin 17px 38px 17px 20px
  padding-right 20px
  background url('@@@PREFIX@@@/images/logo.png') no-repeat
  background-size 182px 26px
  overflow hidden
.tbj-nav-list
  float left
  width 300px
.tbj-nav-list li
  float left 
  width 104px
  height 32px
  line-height 32px
  margin-top 14px
  text-align center
  font-size 16px
  overflow hidden
.tbj-nav-list li:first-child
  margin-right 20px
.tbj-nav-list li.current
  background rgba(255, 255, 255, 0.1)
  border-radius 4px 
  -webkit-border-radius 4px 
.tbj-nav-list li.current a 
  color #fff
  opacity 1
.tbj-nav-list li a 
  color #fff
  opacity 0.6
  
#menu .slim-scroll .tbj-nav-list
  margin-top 35px                                                        
#rMenu
  position absolute           
  visibility hidden 
  top 0                                                                                                          
  border 1px solid #555 
  text-align left                                
div#rMenu ul li                                                                 
  padding 0 5px
  cursor pointer;
  list-style none outside none
  background-color #DFDFDF
.remodal-cancel
  margin-right 22px 
.m-title
  text-align left
  margin -12px 0 0 -10px
  font-size 18px 
.w360
  width 360px
.m-center-modal
  text-align left
  margin-left -10px
.account-name,.directory, .account-attr, .m-btn
  margin-top 20px
.m-btn
  float left
  margin-left -10px
.remodal-confirm
  margin-right 10px
.account-name label,.directory label, .account-attr label
  color #393857
  font-size 12px
.account-name input, .directory span, .account-attr select
  margin-left 16px
  font-size 14px
  color #333
.account-name input, .account-attr select
  width 240px
  height 36px 
  border 1px solid #DCDCDC
  border-radius 5px
  -webkit-border-radius 5px
  background none
.modal-tips
  font-size 13px
  color red
  padding 10px 0 0 68px

.upload_page .title
  color #fff  
  background #66bb6a
  width 100%
  height 40px
  line-height 40px
  font-size 18px
  padding-left 20px

.upload-file
  margin-top 24px
  margin-left 15px
  overflow hidden
.upload-file label
  float left
  font-size 18px
  margin-top 8px
  margin-right 10px
.u-btn
  width 160px
  height 40px 
  border 1px solid #66bb6a;
  background #66bb6a
  font-size 18px 
  border-radius 3px
  -webkit-border-radius 3px
  color #fff
  margin-left 95px
  margin-top 40px
  cursor pointer
.recently
  margin-left 95px
  a 
   color blue
  a:hover
     text-decoration underline
.upload-record table 
  width 600px
  margin-left 30px
  margin-top 18px
  border 1px solid rgba(49, 106, 197, 0.31)
  border-bottom none
  border-right none
.upload-record th, .upload-record td 
  text-align center  
  height 28px
  line-height 28px
  border-bottom 1px solid rgba(49, 106, 197, 0.31)
  border-right 1px solid rgba(49, 106, 197, 0.31)
.back      
  margin 30px 0 0 260px
  font-size 18px
  a 
    color blue
.back a:hover, .back a:active
  color blue
  text-decoration underline
  
.ztree-content
  margin-left 220px 
  height 100%
  .ztop
    height 80px
    background #fff
    overflow hidden
    .title 
      font-size 18px
      color #393857
      margin-top 20px
      margin-left 20px
      font-weight 700
      
    .stitle
      font-size 12px
      margin-left 20px
      margin-top 6px
.zcontent
  border-radius 5px 
  -webkit-border-radius 5px 
  background #fff
  margin 20px
  height 100%
  overflow hidden
  ul
    display block
    margin 40px 30px 0
    border 1px solid #d1e1ee
    li 
      border-bottom 1px solid #d1e1ee
      height 44px 
      overflow hidden
    li:last-child 
      border-bottom none
    
  .title 
    float left
    width 100px 
    border-right 1px solid #d1e1ee 
    background #EAEFF3
    height 44px
    padding-left 20px
    line-height 44px
    color #393857
    font-size 14px
.tlist
  width 300px
  height 28px
  float right
  padding-right 20px
  text-align right
  line-height 60px
.tlist li a
  color #fff
.tlist li a:hover 
  text-decoration underline

  